.root {
  font-family: var(--font-mono);

  th,
  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  --warning-color: #d9822b;

  .success td {
    background-color: color-mix(in srgb, var(--pico-ins-color) 20%, transparent);
  }

  .warning td {
    background-color: color-mix(in srgb, var(--warning-color) 25%, transparent);
  }

  .error td {
    background-color: color-mix(in srgb, var(--pico-del-color) 20%, transparent);
  }

  .type {
    width: 1%;
  }

  .question,
  .answer,
  .comment {
    max-width: 0;
  }

  .date {
    width: 1%;
    text-align: right;
  }

  @media (max-width: 576px) {
    font-size: 0.875em;

    th,
    td {
      padding-inline: calc(var(--pico-spacing) / 4);
    }
  }
}
