.anchor {
  position: relative;
  height: 0;
}

:global(.pico) .root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: max-content;
  z-index: 4;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-mono);

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0;
    margin: 0;

    a {
      white-space: pre;
    }

    .selectButton {
      margin: 0;
      padding: 0;
      width: auto;
      background: none;
      border: none;
      color: var(--pico-primary);
      white-space: pre;
    }

    .deleteButton {
      margin: 0;
      padding: 0 0.5rem;
      width: auto;
      background: none;
      border: none;
      color: inherit;
    }
  }
}
