:global(.pico) .controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 calc(var(--pico-spacing) * 1.5);
  margin-bottom: var(--pico-spacing);

  fieldset {
    width: auto;
    margin-bottom: 0;
  }

  label {
    margin-bottom: 0;
  }
}
