.root {
  font-family: var(--font-mono);

  th,
  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .text {
    max-width: 0;
  }

  .date {
    width: 1%;
    text-align: right;
  }

  .action {
    width: 1%;
    text-align: right;
  }

  @media (max-width: 576px) {
    font-size: 0.875em;

    th,
    td {
      padding-inline: calc(var(--pico-spacing) / 4);
    }
  }
}

:global(.pico) .root .action button {
  margin: 0;
  padding: 0 0.5rem;
  width: auto;
  background: none;
  border: none;
  color: inherit;
}
