.root {
  .textarea {
    min-height: 256px;
    field-sizing: content;
    resize: vertical;
    font-family: var(--font-mono);
    tab-size: 4;
  }

  .bodyRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pico-spacing);

    > * {
      min-width: 0;
    }
  }
}

@media (max-width: 768px) {
  .root .bodyRow {
    grid-template-columns: 1fr;
  }
}
