.actions {
  position: sticky;
  bottom: 0;
  z-index: 3;
  display: flex;
  gap: 0.5rem;
  margin-top: calc(var(--pico-spacing) * -1);
  padding-top: var(--pico-spacing);
  background: var(--pico-card-background-color);

  .action {
    white-space: nowrap;
  }
}
