:global(.pico) .scroller {
  overflow-x: auto;
  margin-bottom: var(--pico-spacing);
}

:global(.pico) .root {
  display: grid;

  .cell {
    min-width: 0;

    input {
      margin-bottom: 0;
    }
  }

  .header input {
    font-weight: 700;
  }

  .headerLabel {
    display: block;
    padding: var(--pico-form-element-spacing-vertical)
      var(--pico-form-element-spacing-horizontal);
    border: var(--pico-border-width) solid transparent;
    line-height: var(--pico-line-height);
    overflow-wrap: anywhere;
  }

  .control {
    width: auto;
    margin: 0;
    padding: 0 0.5rem;
    line-height: 1.5;
    white-space: nowrap;
  }
}
