.root {
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--font-mono);

    li {
      padding: 0;
    }

    a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
